 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <link rel="stylesheet" href="/public/css/style.css">
 </head>
 <body>
      <h1>FILE UPLOADER AND DOWNLOADER</h1>
      <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="pic" id="pic">no file choosen<br>
      <input type="submit" value="upload file">
    </form><br><br><br><br>
    <% if(data.length > 0) {%>
      <table>
           <thead>
               <tr>
                   <td>
                       <h1 style="font-size: 30px;">File Name</h1>
                   </td>
                   <td>
                    <h1 style="font-size: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; File</h1>
                       
                   </td>
               </tr>
               <hr>
               <br><br>
           </thead>
           <tbody>
               <% for(var i=0; i< data.length; i++) {%>
               <tr>
                   <td>
                 <!-- <img src="<%= data[i].picpath%>" alt="images" style="width:100px; height:100px;"> -->
                 <h3><%= data[i].picpath.substr(8)%></h3>
                   </td>
                   <td>
                <form action="/download/<%= data[i]._id%>" method="GET">
                 <input type="submit" value="download">
                </form>
                   </td>
               </tr>
               <% } %>
           </tbody>
      </table>
      <% } %>  
 </body>
 </html>
